.bottom-bar {
	display: flex;
	flex-flow: column nowrap;
	width: 100%;
	background: #263238;
	bottom:0;
	/*padding: 0px 0px 0px 0px;*/
}
.bottom-col-1 {
	display: flex;
	flex-flow: row nowrap;
	width: 70%;
	margin: 0 auto;
	/*border: 2px solid red;*/
	color:#BDBDBD;
}
.bottom-col-1 a{
	color:#BDBDBD;
}
.bottom-col-2 {
	padding: 30px;
	width: 50%;
	margin: 0 auto;
	color:#BDBDBD;
	/*border: 2px solid papayawhip;*/
	text-align: center;
	justify-content: flex-end;
}
.bottom-img {
	display: flex;
	flex-flow: column nowrap;
	/*border: 2px solid palegreen;*/
}
.bottom-img-content {
	background: url(../static/images/footer_logo.png) no-repeat;
	background-size: contain ;
	background-position: center;
	height: 110px;
	width: 190px;
}

.bottom-img-word div {
	margin: 0px 0px 10px 0px;
}
.bottom-link {
	margin: 0px 50px 0px 80px;
	/*border: 2px solid papayawhip;*/
	display: flex;
	flex-flow: column nowrap;
}
.link-title {
	margin: 25px 0px 10px 0px;
	font-family:'Roboto Condensed', sans-serif;
	color: #EC7532;
	font-size: x-large;
}
.link-word{
	margin: 12px 0px 0px 0px;
}

