/*
::-webkit-scrollbar {
	display: none;
}*/
* {
	box-sizing: border-box;
}


body {
	background: #fafafa;
	color: #333333;
	margin: 0px;
  }
  
  h1, h2, h3, h4, h5, h6 {
	color: #444444;
  }
  
  .bg-steel {
	background-color: #2d3236;
  }
  
  .site-header .navbar-nav .nav-link {
	color: #cbd5db;
  }
  
  .site-header .navbar-nav .nav-link:hover {
	color: #ffffff;
  }
  
  .site-header .navbar-nav .nav-link.active {
	font-weight: 500;
  }
  
  .content-section {
	background: #ffffff;
	padding: 10px 20px;
	border: 1px solid #dddddd;
	border-radius: 3px;
	margin-bottom: 20px;
  }
  
  .article-title {
	color: #444444;
  }
  
  a.article-title:hover {
	color: #428bca;
	text-decoration: none;
  }
  
  .article-content {
	white-space: pre-line;
  }
  
  .article-img {
	height: 65px;
	width: 65px;
	margin-right: 16px;
  }
  
  .article-metadata {
	padding-bottom: 1px;
	margin-bottom: 4px;
	border-bottom: 1px solid #e3e3e3
  }
  
  .article-metadata a:hover {
	color: #333;
	text-decoration: none;
  }
  
  .article-svg {
	width: 25px;
	height: 25px;
	vertical-align: middle;
  }
  
  .account-img {
	height: 125px;
	width: 125px;
	margin-right: 20px;
	margin-bottom: 16px;
  }
  
  .account-heading {
	font-size: 2.5rem;
  }
  
  .footer{
	background-color: #2d3236;
	width :100%;
	/* height: 50px; */
	text-align: center;
	bottom: 0px;
	align-items: center;
	
  }
  
  .navbar-nav > li > a:hover { background-color: rgb(68, 67, 67) !important; 
  }
  
  /* being center */
  .center{
	text-align: center;
  }
  
  .pic{ 
	width:80%; 
	height:80%;
  }
  .pic img{ 
	display:block; 
	display:none;
  }
  .pic img:nth-child(1){ display:block;}
  
  .bt{ 
	width:100%; 
	height:30px; 
	position:absolute; 
	bottom:-40px;  
	left:0px;
	background:rgba(51,51,51,0.5); 
	transition:all 0.3s ease 0.1s;}
  
  .bt span{ 
	width:30px; 
	height:30px; 
	float:left; 
	display:block; 
	background:#000; 
	color:#FFF; 
	text-align:center; 
	line-height:30px; 
	border-radius:50%; 
	margin-right:8px; 
	cursor:pointer;}
  .bt .right{ 
	float:right;
  }
  .bt span.on{ 
	background:#F00;
  }

  
  hr {
	border: 0;
	clear:both;
	display:block;
	width: 96%;               
	background-color:#2d3236;
	height: 1px;
  }
  
  .page-top {
	margin: 20px 0;
	padding: 50px 0;
	/* height: 150px; */
	width: 100%;
	background: #f6a651;
	/* background: url(../static/images/dbk2.jpg) no-repeat scroll 0 0/cover; */
	text-align: center;
	/*border: 2px solid red;*/
}

.page-top h2 {
	color: #fff;
	text-transform: capitalize;
	font-family: 'Roboto Condensed', sans-serif;
	letter-spacing: 2px;
	font-size: 38px;
	font-weight: 400;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, .004);
	margin:0;
}

.page-top ul {
	text-align: center;
	margin-top: 15px
}

.page-top ul li {
	display: inline-block;
	text-transform: capitalize;
	color: #eee;
}
  
  
  
  