/*中间总层*/
.index-movive {
	margin: 40px 0px 30px 0px;
	width: 100%;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-around;
	/*border: 1px solid red;*/
}
/*左边层*/
.movie-col-1{
	display: flex;
	flex-flow: column nowrap;
	width: 65%;
	/*border: 2px solid palevioletred;*/
}
/*右边层*/
.movie-col-2{
	display: flex;
	flex-flow: column nowrap;
	width: 27%;
	/*border: 2px solid palevioletred;*/
}
.home-box{

	border-bottom: 2px solid rgb(5, 5, 5);
	padding:25px 10px;
	margin-bottom: 30px;

}
.movie-recom-title{
	
	width: 100%;
	background: #424242;
	display:flex;
	flex-flow: row nowrap;
	margin: 0px 0px 20px 0px;
	color: white;
	font-family: TiemposHeadlineWeb-Bold,Georgia,serif;
	font-size: xx-large;
}
   
.recom-title-content{
	color: white;
	font-family: TiemposHeadlineWeb-Bold,Georgia,serif;
	font-size: xx-large;
	width: 90%;
}
.recom-more{
	display:flex;
	flex-flow: row nowrap;
	width: 10%;
    justify-content: center;
}
.recom-more a{
	margin-top:10%;
 color: white;
 font-family: TiemposHeadlineWeb-Bold,Georgia,serif;
 font-size:15px;
}
.moive-recom {
	width:100%;
	display: flex;
	flex-flow: column nowrap;
	/*border: 2px solid palevioletred;*/
	
}
.moive-recom-row {
	display: flex;
	flex-flow: row;
	margin: 0px 0px 30px 0px;
}
.movie-img {
	height: 255px;
	width: 170px;
	background-size: cover ;
	background-position: center;
	margin: 0 auto;
	/* border: 2px solid palevioletred; */
}

.movie-img img{
	height: 255px;
	width: 170px;
   }
.movie-name{
	text-align: center;
	margin: 15px 0px 5px 0px;		
}
.movie-name a{
	font-family: 'Poppins', sans-serif;
	font-size: large;
	font-weight: 600;
	color: #1565C0;
}
.movie-time {
	font-weight: 100;
	text-align: center;
}
.movie-genre {
	text-align: center;
	margin: 10px 0px 10px 0px;
	
	
}
.movie-genre a{
	background: #f5f5f5;
	color: #37A;
	padding: 3px;
	line-height: 20px;
}






/*右侧popular栏*/
.detail-recom-title{
	background: #424242;
	color: white;
	font-family: TiemposHeadlineWeb-Bold,Georgia,serif;
	font-size: xx-large;
	margin: 0px 0px 20px 0px;
	text-align: center;
}
.detail-recom-content {
	display: flex;
	flex-flow: column nowrap;
	width: 100%;
}
.recom-content{
	display: flex;
	flex-flow: row nowrap;
	margin: 30px 0px 0px 0px;
}
.recom-movie-img {
	width: 40%;
	height: 175px;
	background-size: contain ;
	background-position: center;

}
.recom-movie-detail {
	display: flex;
	flex-flow: column nowrap;
	margin: 0 auto;
	width: 60%;
	/*border: 2px solid red;*/
}
.recom-movie-title{
	font-size:  medium;
	font-weight: 600;
}
.recom-movie-title a{
	color: #37A;
}
.recom-movie-year {
	margin: 5px 0px 15px 0px;
	font-weight: 100;
}
.recom-movie-genre {
	margin: 15px 0px 0px 0px;
	line-height: 30px;
}
.recom-movie-genre a{
	background: #f5f5f5;
	color: #37A;
	padding: 3px 6px;
	margin: 10px 10px 10px 10px;
}
.movie-rating {
	display: flex;
	flex-flow: row nowrap;
	margin: 0 auto;
	/*border: 2px solid palevioletred;*/
}
.rating-star {
	/*border: 2px solid palevioletred;*/
	background: url(../static/images/star.png) no-repeat;
	height: 20px;
	width: 20px;
	background-size: cover ;
	background-position: center;
	margin: 0px 7px 0px 0px;
}
.rating-content{
	font-weight: 600;
	font-size: large;
}

.review-name {
	margin: 0px 0px 10px 0px;
	font-weight: 200;
	color: #678;
	display: flex;
	flex-flow: row;
	line-height:40px;
   }
   
   .button-img{
	background: url(../static/images/block.png) no-repeat;
	background-size: contain;
	background-position: center;
	border:none;
	cursor: pointer;
	height: 25px;
	width: 25px;
   }
   .review-name a{
	font-weight: 600;
   }
   
   .button-like{
	margin: 0 0px 0px 0px;
	display: flex;
	flex-flow: row;
   }
   .like-word{
	margin: 0px 0px 0px 5px;
	font-size: large;
	color: #E64A19;
	font-weight: 600;
   }
   .like-img{
	background: url(../static/images/like.png) no-repeat;
	background-size: contain;
	background-position: center;
	border:none;
	cursor: pointer;
	height: 20px;
	width: 20px;
   }

.mat20{
	margin-top: 20px;
}
.kk{

	float:left;
	width:33.3%;
	height:202px;
	border: 1px solid #dddddd;
	list-style: none;
	margin-left:0;

	/* border: 2px solid palevioletred; */
	
}

.demo ul li img{
	height:200px;
	/* border: 2px solid palevioletred; */
}
.demo ul li h6{
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	height: 20%;
	font-size: large;
	text-align: center;
	margin: 0 auto;
	/*border: 2px solid red;*/
}

.demo ul li form{
	margin-top:45%;
	text-align: center;
	/* border: 2px solid palevioletred; */
}
