{% extends "layout.html" %}
{% block content %}
<div class="page-top">
	<h2>About Page</h2>
	<ul class ="center">
		<li><a style="color: #829ff0;" href="{{ url_for('home') }}">Home</a></li>
		<li>/ </li>
		<li style = "color: #ec7532;">About</li>
	 </ul>
</div>
<article style="margin:0 5% 0 5%">
    <h1>About Page</h1>
    <p style="text-indent:2em;">People these days are more likely to find movies to watch online instead of 
    going to the cinema. here are many websites that can feed costumers with functions like searching movies, 
    rating, and commenting them. FilmFinder is a web platform for finding movies you like with the aid of our 
    recommendation system and it comes with additional features that other sites lack.</p>
    <ul>Below is the full list of FilmFinder features:
      <br><br>
      <li>User authentication.</li>
      <li>Basic search for certain movies and advanced search that can let user filter out results.
      </li>
      <li>Recommend movies based on user’s rating history(both User-Based Collaborate Filtering and Item-Based Collaborate Filtering). 
      </li>
      <li>Wishlist and Blocklist.
      </li>
      <li>Leave comments and rate movies.
      </li>
      <li>'Like' a review.
      </li>
      <li>Real time movie rating for every user.
      </li>
      <li>User profile information management.
      </li>
    </ul>
</article>

{% endblock content %}
