{% extends "layout.html" %}
{% block content %}

<body>
    <div class="page-top">
        <h2>My Blocklist</h2>
        <ul class ="center">
            <li><a style="color: #829ff0;" href="{{ url_for('home') }}">Home</a></li>
            <li>/ </li>
            <li><a style="color: #829ff0;" href="/account/{{current_user.id}}">User page</a></li>
            <li>/ </li>
            <li style = "color: #ec7532;">My Blocklist</li>
         </ul>
    </div>
    {% with messages = get_flashed_messages(with_categories=true) %}
		  	{% if messages %}
          {% for category, message in messages %}
          <div class="bootstrapiso">
            <div class="alert  alert-primary alert-{{ category }}" role="alert">{{ message }}</div>
          </div>
			  	{% endfor %}
		  	{% endif %}
      {% endwith%} 
    <div class = "bootstrapiso acc-mar">
        <div class="content-section">
            <div class="media">
                <img class="rounded-circle account-img" src="../static/profile_pics/{{current_user.profile_image}}">
                <div class="media-body">
                    <h2 class="account-heading">{{ current_user.username }}</h2>
                    <p class="text-secondary">{{ current_user.email }}</p>
                </div>   
            </div>
            <hr>
            <br> 
            {%if blocklist == []%}
            <h5>You have not add any users into your blocklist!</h5>
            {%endif%}  
            <table class="table table-hover">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">User Name</th>
                    <th scope="col">Opeartion</th>
                  </tr>
                </thead>
                <tbody>
                    {%for user in blocklist%}
                    <tr>
                        <th scope="row">{{blocklist.index(user)+1}}</th>
                        <td>{{user.username}}</td>
                        <td>
                            <form action="../blocklist/{{current_user.id}}" method="POST">
                                <button type="submit" class="btn btn-danger" name="remove_from_blocklist" value="{{user.id}}">Remove</button>
                            </form>
                        </td>
                    </tr>
                    {%endfor%}
                </tbody>
              </table>
        </div>
    </div>
</body>

{% endblock content %}