{% extends "layout.html" %}
{% block content %}
<div class="page-top">
  <h2>Search results Page</h2>
	<ul class ="center">
		<li><a style="color: #829ff0;" href="{{ url_for('home') }}">Home</a></li>
		<li>/ </li>
		<li style = "color: #ec7532;">Search result</li>
	 </ul>
</div>
{% with messages = get_flashed_messages(with_categories=true) %}
		  	{% if messages %}
          {% for category, message in messages %}
          <div class="bootstrapiso">
            <div class="alert  alert-primary alert-{{ category }}" role="alert">{{ message }}</div>
          </div>
			  	{% endfor %}
		  	{% endif %}
      {% endwith%} 
<h1 class = 'center'>Search Results:</h1>
<hr>
    <form method="POST">
  
      <!-- <div align="center"></div> -->
      <p style="text-indent:2em;"><b>{{condition_results}}</b></p><br>
      <div style="border: 1px solid #dddddd;
      border-radius: 30px;
      padding:25px 10px;
      margin: 0 50px;
      " >
      {{pagination.info}}
      {% for result in search_results %}
        <div class="so-result-info">
          <div class="result_ugc result-content">
            <div class="tele_box">
              <div class="vari_pho">
                <a class="vari_p" href="film/{{result.id}}" target="_blank">
                  <img src="../static/poster_downloads/{{result.poster_path}}.jpg">
                </a>
              </div>
              <div class="tele_intro">
                <div class="tele_hd">
                  <a href="film/{{result.id}}" target="_blank"><b style="font-size: x-large;">{{result.title}}</b></a>
                  <a class="year">{{result.release_date}}</a>
                </div>
                <div class="tele_line">
                  <div class="info_item">
                  <span class="label">Casts:</span>
                  <span class="cont">
                  {%for cast in result.casts%}
                    <a>{{"|"+cast}}</a>
                  {%endfor%}{{"|"}}    </span> 
                  </div>
                  <div class="info_item">
                    <span class="label">Director:</span>
                    <span class="cont">
                      <a target="_blank">{{result.crew}}</a></span>
                  </div>
                </div>
                <div class="tele_line">
                  <div class="info_item">
                    <span class="label">Genre:</span>
                    <span class="cont">
                    {%for genre in result.genres%}
                      <a>{{"|"+genre}}</a>
                    {%endfor%}{{"|"}}
                  </div>
                <div class="info_item">
                  <span class="label">Country:</span>
                  <span class="cont">
                  {%for pc in result.production_countries%}
                    <a>{{"|"+pc}}</a>
                    {%endfor%}{{"|"}}
                </div>
              </div>
              <div class="tele_item_des">
                <span class="label">Description:</span>
                <span class="desc_text">
                {{result.overview}}
                  <a class="desc_detail" style="float:right" target="_blank" href="film/{{result.id}}">details>>
                  </a>
                </span>
                <div class="buttons center">
                  <button class="draw meet" type="button" style="margin-top:45px;margin-right:10%;" onclick="window.location.href='film/{{result.id}}'">More detail</button>
               </div>
              </div>
            </div>
            </div>
          </div>
        </div>
      {% endfor %}
      <script>
        function changePages(a,b) {
       console.log(a);
       $("#hpage").attr("value",a);
       $(b).submit();
     }
      </script>
      <div class="bootstrapiso">
        <div style="display: flex;flex-flow: row nowrap;justify-content: center;">		
          {%if pagination.total != 0%}
          <div class="bootstrapiso">
           <div style="display: flex;flex-flow: row nowrap;justify-content: center;">		
             <nav aria-label="Page navigation">
               <ul class="pagination">
                 {% if pagination.has_prev %}
                 <li class="page-item">
                   <a class="page-link" href="javascript:void(0)" onclick='changePages({{pagination.page}}-1,"#generalForm")'>
                     <span aria-hidden="true">&laquo;</span>
                   </a>
                 </li>
                 {%else%}
                 <li class="page-item disabled">
                   <a class="page-link" href="javascript:void(0)" onclick='changePages({{pagination.page}}-1,"#generalForm")'>
                     <span aria-hidden="true">&laquo;</span>
                   </a>
                 </li>
                 {%endif%}
                 {% for page_num in pagination.pages%}
                   {% if page_num == pagination.page %}
                   <li class="page-item active"> <span class="page-link">{{page_num}}</span></li>
                   {%elif page_num == None%}
                   <li class="page-item disabled"><a class="page-link" href="javascript:void(0)" onclick='changePages({{page_num}},"#generalForm")'>...</a></li>
                   {%else%}
                   <li class="page-item"><a class="page-link" href="javascript:void(0)" onclick='changePages({{page_num}},"#generalForm")'>{{page_num}}</a></li>
                   {%endif%}
                 {%endfor%}
                 {% if pagination.has_next %}
                 <li class="page-item">
                   <a class="page-link" href="javascript:void(0)" onclick='changePages({{pagination.page}}+1,"#generalForm")'>
                     <span aria-hidden="true">&raquo;</span>
                   </a>
                 </li>
                 {%else%}
                 <li class="page-item disabled">
                   <a class="page-link" href="javascript:void(0)" onclick='changePages({{pagination.page}}+1,"#generalForm")'>
                     <span aria-hidden="true">&raquo;</span>
                   </a>
                 </li>
                 {%endif%}
               </ul>
             </nav>	
           </div>
         </div>          
         {%endif%}						
        </div>
      </div>
      </div>
  
    </form> 
{% endblock content %}
