{% extends "layout.html" %}
{% block content %}
<div class="page-top">
	<h2>User Details Page</h2>
	<ul class ="center">
		<li><a href="{{ url_for('home') }}">Home</a></li>
		<li>/ </li>
		<li style = "color: #ec7532;">Users details</li>
	 </ul>
</div>
<div class = "bootstrapiso" style="margin:15px 20% 20px 15%;">
    <div class="content-section">
      <div class="media" >
        <img class="rounded-circle account-img" src="{{ image_file }}">
            <div class="media-body col-8" >
                <h2 class="account-heading">{{ current_user.username }}</h2>
                <p class="text-secondary">{{ current_user.email }}</p>
            </div>
            <div class="col-3 topmargin">
                <div class="list-group">
                    {% if identify == True%}
                    <a class="list-group-item list-group-item-action active" href="../wishlist/{{current_user.id}}" role="button">My wishlist</a>
                    <a class="list-group-item list-group-item-action" href="../blocklist/{{current_user.id}}" role="button">My blacklist</a>
                    {%endif%}
                  </div>
                  <img src="../static/images/like.png"style="height:50px;width:50px;
                  margin:5% 5% 10% 20%;" >
                   <span>100</span>
            </div>
           
        
      </div>
        <form method="POST" action="" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Account Info</legend>
                <div class="form-group">
                    {{ form.username.label(class="form-control-label") }}

                    {% if form.username.errors %}
                        {{ form.username(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.username.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.username(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.email.label(class="form-control-label") }}
                    {% if form.email.errors %}
                        {{ form.email(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.email.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.email(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.picture.label() }}
                    {{ form.picture(class="form-control-file") }}
                    {% if form.picture.errors %}
                        {% for error in form.picture.errors %}
                            <span class="text-danger">{{ error }}</span></br>
                        {% endfor %}
                    {% endif %}
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
            {% if identify == True%}
            <br>
            BLOCKLIST:<br>
            {%for x in blocklist%}
            {{x.username}}
            <img src="../static/poster_downloads/{{x.profile_image}}.jpg">
            {%endfor%}
            <br>
            WISHLIST:<br>
            {%for x in wishlist%}
            <a class="desc_detail report-click report-action" href="../film/{{x.id}}">{{x.title}}:
            <img src="../static/poster_downloads/{{x.poster_path}}.jpg">
            {%endfor%}
            {%endif%}

        </form>
    </div>
</div>
{% endblock content %}