{% extends "layout.html" %}
{% block content %}
<div class="page-top">
	<h2>Search Page</h2>
	<ul class ="center">
		<li><a href="{{ url_for('home') }}">Home</a></li>
		<li>/ </li>
		<li style = "color: #ec7532;">Advanced search</li>
	 </ul>
</div>
<div class = "bootstrapiso" style="margin-top:25px;padding:0 50px;">
  <div class="content-section" style="margin:0 10% 0 10%" >
  <form action="" method="POST">
    <h2 class="center">Search what you like</h2>
    <hr>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default">Title:</span>
          </div>
          <input type="text"  name ='title' value="{{name}}" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default">Director:</span>
          </div>
          <input type="text" name = "director" value="{{director}}" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
        </div>

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default">Casts</span>
          </div>
          <input type="text" name = "casts" value="{{casts}}" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
        </div>

        <div class="row">
            

        <div class="input-group-prepend col-md-2">
          <span class="input-group-text" id="inputGroup-sizing-default">Genre:</span>
        </div>
        <div class ="col-md-10">
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="Action" name = "genre" value="Action" >
          <label class="form-check-label" for="ck1">Action</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="Adventure" value="Adventure" name = "genre">
          <label class="form-check-label" for="inlineCheckbox2">Adventure</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="Animation" value="Animation" name = "genre">
          <label class="form-check-label" for="inlineCheckbox3">Animation</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="Comedy" value="Comedy" name = "genre">
          <label class="form-check-label" for="inlineCheckbox4">Comedy</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="Crime" value="Crime" name = "genre">
          <label class="form-check-label" for="inlineCheckbox5">Crime</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="Documentary" value="Documentary" name = "genre">
          <label class="form-check-label" for="inlineCheckbox6">Documentary</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="Drama" value="Drama" name = "genre">
          <label class="form-check-label" for="inlineCheckbox7">Drama</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="Family" value="Family" name = "genre">
          <label class="form-check-label" for="inlineCheckbox8">Family</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="Fantasy" value="Fantasy" name = "genre">
          <label class="form-check-label" for="inlineCheckbox9">Fantasy</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="History" value="History" name = "genre">
          <label class="form-check-label" for="inlineCheckbox10">History</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="Horror" value="Horror" name = "genre">
          <label class="form-check-label" for="inlineCheckbox11">Horror</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="Music" value="Music" name = "genre">
          <label class="form-check-label" for="inlineCheckbox12">Music</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="Mystery" value="Mystery" name = "genre">
          <label class="form-check-label" for="inlineCheckbox13">Mystery</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="Romance" value="Romance" name = "genre">
          <label class="form-check-label" for="inlineCheckbox14">Romance</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="Science Fiction" value="Science Fiction" name = "genre">
          <label class="form-check-label" for="inlineCheckbox15">Science Fiction</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="Thriller" value="Thriller" name = "genre">
          <label class="form-check-label" for="inlineCheckbox16">Thriller</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="TV Movie" value="TV Movie" name = "genre">
          <label class="form-check-label" for="inlineCheckbox17">TV Movie</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="War" value="War" name = "genre">
          <label class="form-check-label" for="inlineCheckbox18">War</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="Western" value="Western" name = "genre">
          <label class="form-check-label" for="inlineCheckbox19">Western</label>
        </div>
        
      </div>

      <div id="dataid" d="{{genre}}" style="display:none"></div>


      </div>
      <script src="../static/jquery-3.2.1.min.js"></script>

      <script>
        var names = document.getElementById('dataid').getAttribute('d').split(",");
        if(names.length != 0){
          for(let i =0, len = names.length;i<len;i++){ 
            $("#"+names[i].match(/[A-Z][a-z]+/)[0]).prop("checked",true);
       
          }
        }
      </script>
      <br>

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <label class="input-group-text" for="inputGroupSelect01">Country:</label>
          </div>
          <select class="custom-select" name="country" id="select1">
              <option value = '{{country}}'>{{country}}</option>
              <option value="Australia">Australia</option>
              <option value="China">China</option>
              <option value="Germany">Germany</option>
              <option value="Spain">Spain</option>
              <option value="France">France</option>
              <option value="United Kingdom">United Kingdom</option>
              <option value="Italy">Italy</option>
              <option value="United States">United States</option>
              <option value="South Africa">South Africa</option>
          </select>
        </div>
        <div style="line-height:50%;">
          <br>
      </div>
        <div class="row">
        <div class="input-group-prepend col-3">
          <span class="input-group-text" id="inputGroup-sizing-default">Release Date:</span>
        </div >

      
      <div class="input-group mb-3 col-4">
          <div class="input-group-prepend">
            <label class="input-group-text" style = "background-color:#fafafa ;" for="inputGroupSelect01">From</label>
          </div>
          <input type="number" name="year1" value = "{{year1}}" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
        </div>

        <div class="input-group mb-3 col-4">
          <div class="input-group-prepend">
            <label class="input-group-text" style = "background-color:#fafafa ;" for="inputGroupSelect01">To</label>
          </div>
          <input type="number" name="year2" value = "{{year2}}" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
        </div>
      
  </div>  
  <br>
      
        <div class="input-group mb-3">
          <div class = 'row'>
            
          <div class="input-group-prepend col-4">
            <label class="input-group-text" for="inputGroupSelect03">SORT BY:</label>
          </div>
          <div class = "col-8">
              <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio"value = "0" name='mode' id="sort1" checked>
                  <label class="form-check-label" for="sort1">Most popular</label>
              </div>
            <div class="form-check form-check-inline ">
              <input class="form-check-input" type="radio"value = "1" name='mode' id="sort2">
              <label class="form-check-label" for="iort2">Highest rating</label>
            </div>
          </div>
      </div>
      </div>

      <div id="modeid" d="{{mode}}" style="display:none"></div>
      <script>
        var mode = document.getElementById('modeid').getAttribute('d');
        if(mode == '1'){
            $("#sort2").prop("checked",true);
       
          
        }
      </script>

      <div style="text-align:center; vertical-align:middel;">
      <input style="width:120px;" class="btn btn-outline-success" type="submit" value="search" />
  </div>
  </form>
</div>
</div>

<br>
  
      <!-- <div align="center"></div> -->
      {%if search_results != ''%}
     
      <h2 class ='center'>Search Results</h2><hr>
      <p style="text-indent:2em;"><b>{{condition_results}}</b></p>
      <br>
      
     
      <div style="border: 1px solid #dddddd;
      border-radius: 30px;
      padding:25px 10px;
      margin: 0 50px;
      " >
      
       {% for result in search_results %}
       <div class="so-result-info">
         <div class="result_ugc result-content">
         
         <div class="tele_box">
         <div class="vari_pho">
         <a class="vari_p" href="film/{{result.id}}" target="_blank">
         <img src="../static/poster_downloads/{{result.poster_path}}.jpg">
         </a>
         </div>
        <div class="tele_intro">
          <div class="tele_hd">
            <a href="film/{{result.id}}"  target="_blank"><b style="font-size:x-large;">{{result.title}}</b></a>
            <a class="year">{{result.release_date}}</a>
          </div>
          <div class="tele_line">
            <div class="info_item">
              <span class="label">Casts:</span>
              <span class="cont">
      
         {%for cast in result.casts%}
         <a>{{"|"+cast}}</a>
         {%endfor%}{{"|"}}
              </span>
         </div>
         <div class="info_item">
         <span class="label">Director:</span>
         <span class="cont">
         <a href="#" target="_blank">{{result.crew}}</a></span>
         </div>
         </div>
         <div class="tele_line">
         <div class="info_item">
         <span class="label">Genre:</span>
         <span class="cont">
         {%for genre in result.genres%}
         <a>{{"|"+genre}}</a>
         {%endfor%}{{"|"}}
         </div>
         <div class="info_item">
         <span class="label">Country:</span>
         <span class="cont">
         {%for pc in result.production_countries%}
         <a>{{"|"+pc}}</a>
         {%endfor%}{{"|"}}
         </div>
         </div>
         <div class="tele_item_des">
         <span class="label">Details:</span>
         <span class="desc_text">
           {{result.overview}}
            <a class="desc_detail" style="float:right" target="_blank" href="film/{{result.id}}">details>>
            </a>
         </span>
         <div class="buttons center">
           <button class="draw meet" style="margin-top:45px;margin-right:10%;" onclick="window.location.href='film/{{result.id}}'">More detail</button>
        </div>
         </div>
         </div>
         </div>
         </div>
         </div>
         <hr>
       {% endfor %}
    </div>
 
    {%endif%}
      
    
{% endblock content %}
