{% extends "layout.html" %}
{% block content %}

<div class="detail-top"></div>
			<div class="detail-middle">
				<div class="middle-background">
					<div class="detail-col-1">
						<div class="detail-img center"><img src="../static/poster_downloads/{{movie_details.poster_path}}.jpg"></div>
						<div class="detail-rating-wishlist">
							<div class="detail-raing">
								<div class="rating-title">FilmFinder Rating:</div>
								<div class="rating-value">{{movie_details.vote_average}}</div>
							</div>
							<div class="wishlist">
								<form action="#" method="get">
									<input type="submit" value="Add to wishlist" />
								</form>

							</div>
						</div>
					</div>
					<div class="detail-col-2">
						<div class="detail-col-2-1">
							<div class="detail-name">{{movie_details.title}}</div>
							<div class="detail-year">
								<a href="#">{{movie_details.release_date}}</a>
							</div>
						</div>
						<div class="detail-director">Directed by
							<a href="#">{{movie_details.crew}}</a>
						</div>
						<div class="detail-word">
							<div class="detail-word-content">
								<div class="detail-title">{{movie_details.overview}}</div>
							</div>
						</div>
						<div class="detail-cast">
							<div class="detail-subtitle">Cast</div>
							<div class="detail-cast-content">
								<p>
									{%for cast in movie_details.casts%}
									<a>{{cast}}</a>
									{%endfor%}
								</p>
							</div>
						</div>
						<div class="detail-genre">
							<div class="detail-subtitle">GENRES</div>
							<div class="detail-genre-content">
								<p>
									{%for genre in movie_details.genres%}
									<a>{{genre}}</a>
									{%endfor%}
								</p>
							</div>
						</div>
						<div class="detail-detail">
							<div class="detail-subtitle">DETAIL</div>
							<div class="detail-detail-content">
								<div class="detail-content-left">
									<div class="content-title">Collection:</div>
									{%for co in movie_details.belongs_to_collection%}
									<div class="content-word">{{co}}</div>
									{%endfor%}
								</div>
								<div class="detail-content-left">
									<div class="content-title">Countries:</div>
									{%for con in movie_details.production_countries%}
									<div class="content-word">{{con}}</div>
									{%endfor%}
								</div>
							</div>
						</div>
						<div class="detail-review">
							<div class="detail-subtitle">REVIEW</div>
							<div class="detail-review-content">
								<div class="detail-review-icon">
									<div class="review-icon"></div>
								</div>
								<div class="detail-review-word">
									<div class="review-name">Review by
										<a href=""> Tom</a>
									</div>
									<div class="review-content">
										<p>
											I'll have to watch the original to see how bad or good this version is. I'm sure the Hitchcock version is better. I know this is a revisit of that movie but I really don't have anything to judge it against. I think the acting was fine
										</p>
									</div>
								</div>
							</div>
							<hr />
							<div class="detail-review-content">
								<div class="detail-review-icon">
									<div class="review-icon"></div>
								</div>
								<div class="detail-review-word">
									<div class="review-name">Review by
										<a href=""> Tom</a>
									</div>
									<div class="review-content">
										<p>
											I'll have to watch the original to see how bad or good this version is. I'm sure the Hitchcock version is better. I know this is a revisit of that movie but I really don't have anything to judge it against. I think the acting was fine
										</p>
									</div>
								</div>
							</div>
							<hr />
						</div>
					</div>
					<div class="detail-col-3">
						<div class="detail-recom-title">
							Recommend for you
						</div>
						{%for movie in recommend_list%}
						<div class="detail-recom-content">
							<div class="recom-content">
								<div class="recom-movie-img"><img src="../static/poster_downloads/{{movie.poster_path}}.jpg"></div></div>
								<div class="recom-movie-detail">
									<div class="recom-movie-title">
										<a href="#">{{movie.title}}</a>
									</div>
									<div class="recom-movie-year">{{movie.release_date}}</div>
									<div class="recom-movie-year">Directed by {{movie.crew}}</div>
									<div class="recom-movie-genre">
										{%for genre in movie.genres%}
										<a>{{genre}}</a>
										{%endfor%}
									</div>
								</div>
							</div>
						{%endfor%}
						</div>
					</div>
				</div>
			</div>






{% endblock content %}


