{% extends "layout.html" %}
{% block content %}

<div class="page-top">
	<h2>Film Details Page</h2>
	<ul class ="center">
		<li><a href="{{ url_for('home') }}">Home</a></li>
		<li>/ </li>
		<li style = "color: #ec7532;">film details</li>
	 </ul>
</div>
			<div class="detail-middle">
				<div class="middle-background">
					<div class="detail-col-1">
						<div class="detail-img center"><img src="../static/poster_downloads/{{movie_details.poster_path}}.jpg"></div>
						<div class="detail-rating-wishlist">
							<div class="detail-raing">
								<div class="rating-star" style="margin-left:35%;margin-top: 2%;"></div>
								<div class="rating-value">{{movie_details.vote_average}}</div>
							</div>
							<div class="wishlist">
								<form action="#" method="POST">
									<div class="buttons center">
										<button class="draw" type="submit">Add to wishlist</button>
									</div>
									<!-- <input type="submit" value="Add to wishlist" /> -->
								</form>
									{{response}}
							</div>
						</div>
					</div>
					<div class="detail-col-2">
						<div class="detail-col-2-1">
							<div class="detail-name">{{movie_details.title}}</div>
							<div class="detail-year">
								<a href="#">{{movie_details.release_date}}</a>
							</div>
						</div>
						<div class="detail-director">Directed by
							<a href="#">{{movie_details.crew}}</a>
						</div>
						<div class="detail-word">
							<div class="detail-word-content">
								<div class="detail-title">{{movie_details.overview}}</div>
							</div>
						</div>
						<div class="detail-cast">
							<div class="detail-subtitle">CASTS</div>
							<div class="detail-cast-content">
								<p>
									{%for cast in movie_details.casts%}
									<a>{{cast}}</a>
									{%endfor%}
								</p>
							</div>
						</div>
						<div class="detail-genre">
							<div class="detail-subtitle">GENRES</div>
							<div class="detail-genre-content">
								<p>
									{%for genre in movie_details.genres%}
									<a>{{genre}}</a>
									{%endfor%}
								</p>
							</div>
						</div>
						<div class="detail-detail">
							<div class="detail-subtitle">DETAIL</div>
							<div class="detail-detail-content">
								<div class="detail-content-left">
									<div class="content-title">Collection:</div>
									{%for co in movie_details.belongs_to_collection%}
									<div class="content-word">{{co}}</div>
									{%endfor%}
								</div>
								<div class="detail-content-left">
									<div class="content-title">Countries:</div>
									{%for con in movie_details.production_countries%}
									<div>{{con}}</div>&nbsp;&nbsp;&nbsp;
									{%endfor%}
								</div>
							</div>
						</div>
						<div class="detail-review">
							<div class="detail-subtitle">REVIEW</div>

								{% for review in reviews %}
								<div class="detail-review-content">
									<div class="detail-review-icon">
										<div class="review-icon">
											<img style="height:100px;width:100px;margin:10% 0 0 100%" src="../static/profile_pics/default.jpg">
										</div>
									</div>
									<div class="detail-review-word">
										<div class="review-name">
											<div class="name">Review by <a href="">{{review.username}}</a >
											</div>
												
											<div style="margin:2% 5% 0 2%">
												<a href="#">
													<div class="button-img" title="Block this user"></div>
												</a >
											</div>
											
												<span style="width:60%;"><span style="float:right">rating:{{review.rating}}</span><img src="../static/images/star_{{review.rating}}.png" style="width:105px;float:right"></span>
											
										</div> 
										<div class="review-content bootstrapiso">
											{% if current_user.id == review['userId'] %}
											  <p class="article-content">{{ review['review'] }}</p>
											  <div style="margin-left: 70%;">
											  <button type="button" class="btn btn-danger btn-sm m-1" data-toggle="modal" data-target="#deleteModal">Delete</button>
											</div>
											  <!-- Modal -->
											  <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
												<div class="modal-dialog" role="document">
												  <div class="modal-content">
													<div class="modal-header">
													  <!-- <h5 class="modal-title" id="deleteModalLabel">Delete Post?</h5> -->
													  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
														<span aria-hidden="true">&times;</span>
													  </button>
													</div>
													<div class="modal-body">Delete Your Review Permanently?</div>
													<div class="modal-footer">
													  <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
													  <form action="{{ url_for('delete_review', review_id=review['id'], filmid=filmid) }}" method="POST">
														<input class="btn btn-danger" type="submit" value="Delete">
													  </form>
													</div>
												  </div>
												</div>
											  </div>	
										  {% else %}
										  <p class="article-content">{{ review['review'] }}</p>
										  {% endif %}
										</div>
										<div class="button-like" title="Like this comment">
											<a href="">
												<div class="like-img"></div>
											</a >
											<div class="like-word">like</div>
										</div>
									</div>
								</div>
								<hr />
								{%endfor%}
							<div class="bootstrapiso" style="margin:30px 0;">
								<form action="{{ url_for('add_review', filmid=filmid, userid=current_user.id) }}" method="POST">
									<div class="content-section">
										<label for="exampleFormControlTextarea1"><b style='font-size: large;'>Add yor review:</b></label>
										<script>
											function halfStar(x) {
											var star = document.getElementById('star');
											var items = star.getElementsByTagName("li");
											x = parseInt(x) - 1;
											var tem = -1;
											for(var i = 0; i < items.length; i++) {
												if(x > i*2) {
													items[i].style.background = "url('../static/images/full.png') no-repeat";
													items[i].style.backgroundSize = "100% 100%";
												} else {
													if(tem == -1) {
														tem = i;
													} 
													items[i].style.background = "url('../static/images/empty.png') no-repeat";
													items[i].style.backgroundSize = "100% 100%";
												}
											}
											if(x == parseInt(tem)*2) {
												items[tem].style.background = "url('../static/images/half.png') no-repeat";
												items[tem].style.backgroundSize = "100% 100%";
											}
											document.getElementById('getgrade').innerHTML = parseInt(x)+1+'.0';
										}
										</script>
										<div class="setgrade">  
											<div class="grade">
												Rating: <span id="getgrade">0.0</span>
											</div>
											<div class="star">
												<ul id="star">
													<li>
														<a href="javascript:void(0)" onclick="halfStar(1)"></a>
														<a href="javascript:void(0)" onclick="halfStar(2)"></a>
													</li>
													<li>
														<a href="javascript:void(0)" onclick="halfStar(3)"></a>
														<a href="javascript:void(0)" onclick="halfStar(4)"></a>
													</li>
													<li>
														<a href="javascript:void(0)" onclick="halfStar(5)"></a>
														<a href="javascript:void(0)" onclick="halfStar(6)"></a>
													</li>
													<li>
														<a href="javascript:void(0)" onclick="halfStar(7)"></a>
														<a href="javascript:void(0)" onclick="halfStar(8)"></a>
													</li>
													<li>
														<a href="javascript:void(0)" onclick="halfStar(9)"></a>
														<a href="javascript:void(0)" onclick="halfStar(10)"></a>
													</li>
												</ul>
											</div>
										</div>
										<div class="form-group">
										
											<textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
										</div>
										<button type="submit" class="btn btn-primary">Submit</button>
								</div>
								</form>
							</div>
						</div>
					</div>
					<div class="detail-col-3"
					style="border: 2px solid rgb(5, 5, 5);
							border-radius: 30px;
							padding:25px 10px;
							">
						<div class="detail-recom-title">
							You may also like
						</div>
						{%for movie in recommend_list%}
						<div class="detail-recom-content">
							<div class="recom-content">
								<div class="recom-movie-img"><img style="height:175px;width:118px;" src="../static/poster_downloads/{{movie.poster_path}}.jpg"></div>
								<div class="recom-movie-detail">
									<div class="recom-movie-title">
										<a href="./{{movie.id}}">{{movie.title}}</a>
									</div>
									<div class="recom-movie-year">{{movie.release_date}}</div>
									<div class="recom-movie-year">Directed by {{movie.crew}}</div>
									<div class="recom-movie-genre">
										{%for genre in movie.genres%}
										<a>{{genre}}</a>
										{%endfor%}
									</div>
								</div>
							</div>
						</div>
						<hr>
						{%endfor%}
						</div>
					</div>
				</div>
			</div>

{% endblock content %}


